{
    "db" : {
        "user": "root",
        "password": "123sohai123",
        "host": "127.0.0.1",
        "port": "3306",
        "database": "kucingnft",
        "raise_on_warnings": true
    },
    "chain" : {
        "chainID" : 97,
        "tokenURI" : "0x7391dd5a7a021e3bf1bf26b472d1024088f0c109",
        "walletAddress" : "",
        "walletPrivateKey" : "",
        "rpcURL" : "https://data-seed-prebsc-1-s1.binance.org:8545/"
    }
}